<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<system.net>
		<connectionManagement>
			<add maxconnection = "200" address ="*" />
		</connectionManagement>
	</system.net>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding maxReceivedMessageSize="80000000"/>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8090/ItalianPizza/Backend" binding="netTcpBinding" contract="Backend.Service.IItalianPizzaService" />
		</client>
	</system.serviceModel>
</configuration>